---
import MainLayout from '@/layouts/MainLayout.astro';
import { Dashboard } from '@/components/react/Dashboard';
---

<MainLayout>
  <div slot="head">
    <title>Storico — Dashboard</title>
  </div>

  <Dashboard client:load />
</MainLayout>
